**Instructions**

1. Apply SMOTE for upsampling the data
- Use logistic regression to fit the model and compute the accuracy of the model.
- Use decision tree classifier to fit the model and compute the accuracy of the model.
- Compare the accuracies of the two models.

2. Apply TomekLinks for downsampling
- It is important to remember that it does not make the two classes equal but only removes the points from the majority class that are close to other points in minority class.
- Use logistic regression to fit the model and compute the accuracy of the model.
- Use decision tree classifier to fit the model and compute the accuracy of the model.
- Compare the accuracies of the two models.
- You can also apply this algorithm one more time and check the how the imbalance in the two classes changed from the last time.

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import TomekLinks
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [14]:
churnData = pd.read_csv('/Users/lauraclarksanchez/Desktop/ironhack/labs/unit 7/lab-cross-validation/files_for_lab/Customer-Churn.csv', delimiter=',')
churnData

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [15]:
churnData['TotalCharges'] = pd.to_numeric(churnData['TotalCharges'], errors='coerce')

In [16]:
churnData['TotalCharges'].fillna(churnData['TotalCharges'].mean(), inplace=True)

In [17]:
churnData = pd.get_dummies(churnData, drop_first=True)

In [18]:
X = churnData.drop('Churn_Yes', axis=1)  # Features
y = churnData['Churn_Yes']  # Target variable

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
tomek_links = TomekLinks()
X_train_tomek, y_train_tomek = tomek_links.fit_resample(X_train, y_train)

In [21]:
log_reg_model = LogisticRegression()
log_reg_model.fit(X_train_tomek, y_train_tomek)
log_reg_pred = log_reg_model.predict(X_test)

/opt/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [22]:
log_reg_accuracy = accuracy_score(y_test, log_reg_pred)

In [23]:
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train_tomek, y_train_tomek)
dt_pred = dt_model.predict(X_test)

In [25]:
dt_accuracy = accuracy_score(y_test, dt_pred)

print("Accuracy of Logistic Regression:", log_reg_accuracy)
print("Accuracy of Decision Tree Classifier:", dt_accuracy)

Accuracy of Logistic Regression: 0.8062455642299503
Accuracy of Decision Tree Classifier: 0.7352732434350603

In [29]:
if log_reg_accuracy > dt_accuracy:
    print("Logistic Regression is more accurate")
elif log_reg_accuracy < dt_accuracy:
    print("Decision Tree Classifier is more accurate")
else:
    print("Equals")

Logistic Regression is more accurate

In [27]:
X_train_tomek_2, y_train_tomek_2 = tomek_links.fit_resample(X_train_tomek, y_train_tomek)

In [28]:
print("Class imbalance after the second iteration of TomekLinks:")
print(y_train_tomek_2.value_counts())

Class imbalance after the second iteration of TomekLinks:
Churn_Yes
False    3509
True     1496
Name: count, dtype: int64